
.navbar{
  text-align: center;
  background-color: rgb(153,	153,	204);
  width: 100vw;
  height: 5vw;
}
ul{
  list-style-type: none;
  display: block;
}
.container{
  width: 90vw;
  height: 5vw;
  margin:0 auto;
}
.navbar-header{
  display: block;
  height: 5vw;
  width: 5vw;
  float: left;
}
.navbar-form{
  display: block;
  width: 300px;
  float:right;
}
.btn-menu {
    text-decoration: none;
    color: #f6f7f8;
    background-color: #99c;
    border-color: #99c;
    font-family: Helvetica;
}
.input-group{
  width:200px;
  margin-top: -20px;
  float:right;
}
.btn-group{
  width:500px;
}
li{
  width: 500px;
}
img.pull-left{
  margin-top: 4px;

.container-1{
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 400px;
  background-color: #ccd;
}
.container-2{
  background-color: #ccd;
}

.rright{
  float: right;
}

.bottom-button{
  display: block;
  margin: 0 auto;
}

.smt{
  text-align: center;
  display: block;
  margin: 0 auto;

.top-footer {
  background-color: rgb(153, 153, 204);
  margin: 0 auto;
  border: 1px solid rgb (102, 102, 153);
  padding: 20px;
  text-align: center;
  border-bottom: 20px;
}

.top-footer a:hover {

  color: rgb(255, 255, 204)
}

.top-footer a {
  margin: 0 10px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.bottom-footer {
text-align: center;
padding-top: 15px;
background-color: rgb(204, 204, 221);
padding-bottom: 4px;
}

.bottom-footer p {
  font-size: 14px;
}
.bottom-footer img {
  margin: 20px 10px 5px 10px;
}
.bottom-footer a {
  margin: auto 15px;
  font-size: 15px;
  text-decoration: none;
}
.power-by {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 40px;
  vertical-align: top;
}

.copyright {
  margin-top: 0;

}
